<?php defined('SYSPATH') OR die('No direct access allowed.');

return array
(
	'default' => array
        (
                'node_config'   => array
                (
                        'url'   => 'https://configserver.example.org',
                ),
                'admin_system'  => array
                (
                        'development' => 0,
                        'url'   => 'https://adminserver.example.org',
		),
	),
);
