# NB: This would be in the htaccess for the directory above, but
# I can't work out how to filter by directory, and we don't want
# SSL client certs on for all clients.

# Accept client certs for this directory.
#SSLVerifyClient optional_no_ca

# Chuck all urls at kohana.
RewriteEngine on
RewriteBase /package/
RewriteRule .* /~david/index.php/package/$0 [PT]
